@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=WindSong:wght@400;500&display=swap');
@import 'tailwindcss';

@layer base {
  :root {
    --cream: #F4F1DE;
    --coral: #E07A5F;
    --blue: #3D405B;
    --green: #81B29A;
    --gray-green: #6e9096;
    --sand: #F2CC8F;
    --dark-sand: #c79461;
    --soft-bg: #faf5ef;
  }
}

@utility windsong {
  font-family: 'WindSong', serif;
  font-weight: 400;
  font-style: normal;
}

@utility libre-bodoni {
  font-family: 'Libre Bodoni', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@utility thryft {
  font-family: "Libertinus Keyboard", system-ui;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: var(--soft-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--sand);
}